/*header css*/
header{
	background-color: #361032;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0px;
}
h1{
	font-family: 'Mansalva', cursive;
	font-size: 100px;
	color: firebrick;
	border-top-width: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
	}
header img{
	border-radius: 300px;
	border: 4px solid #600b28;
}
/*body css*/
body{
	background-color: #8c2650;
	margin: 0px;
}
h2{
	font-family: 'Mansalva', cursive;
	font-size: 50px;
	color: cadetblue;
	}
p{
	font-family: 'Neucha', serif;
	font-size: medium;
}
main img{
	max-width: 100%;
}
main{
	margin: 0 auto;
	padding: 5px 50px;
}
/*footer css*/
footer{
	background-color: #361032;
	text-align: center;
}
footer p{
	color: white;
}