/*header css*/
header{
	background-color: #361032;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0px;
}
h1{
	font-family: 'Mansalva', cursive;
	font-size: 135px;
	color: floralwhite;
	border-top-width: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
	}
header img{
	border-radius: 300px;
	border: 4px solid #610b28;
}
/*body css*/
body{
	background-color: #8c2650;
	margin: 0px;
}
h2{
	font-family: 'Mansalva', cursive;
	font-size: 75px;
	color: #361032;
	text-align: center;
	margin-bottom: 25px;
	}
h3{
	font-family: 'Mansalva', cursive;
	font-size: 75px;
	color: #361032;
	margin-top: 0px;
    margin-bottom: 0px;
}
h4{
	font-family: 'Mansalva', cursive;
	font-size: 75px;
	color: #361032;
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
}
p{
	font-family: 'Neucha', serif;
	font-size: 25px;
	text-align: center;
	color: #401331;
}
main img{
	max-width: 100%;
}
main{
	margin: 0 auto;
	padding: 5px 50px;
}
.column {
	float: left;
	left: 35%;
	right: 65%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*lists*/
ol{
	font-family: 'Neucha', serif;
	font-size: 25px;
	color: #401331;
}
ul{
	font-family: 'Neucha', serif;
	font-size: 25px;
	color: #401331;
}
a:link {
  color: #401331;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: indigo;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #500545;
  background-color: transparent;
  text-decoration: underline;
}
/*footer css*/
footer{
	background-color: #361032;
	text-align: center;
}
footer p{
	color: floralwhite;
}